# Remove unused keys below

# Do not add spaces after the equal sign on the actual keys
# Example
# DISCORD_TOKEN=TOKEN.GOES.HERE

# The Discord Bot Token, get one at https://discord.com/developers/applications
# [REQUIRED]
DISCORD_TOKEN=

# The Mongo URI, if you want to use the database-reliant features
# [OPTIONAL]
MONGO_URI=

# Discordbotlist Auth Key, if the bot is listed on dbl.
# Used for posting server and user count
# [OPTIONAL]
DBL_AUTH=

# Top GG Auth Key, if the bot is listed on top.gg
# Used for posting server and user count
# [OPTIONAL]
TOP_GG_AUTH=

# Chatbot id and key, if you want to use the chatbot feature
# contact Sakurajimai#6742 for more info
# [OPTIONAL]
chatbot_id=
chatbot_key=

# osu! Auth Token, get one from https://osu.ppy.sh/p/api
# To use the osu! featured commands
# [OPTIONAL]
OSU_TOKEN=
